/*** default style ***/

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */

*,::after,::before{box-sizing:border-box}html{-moz-tab-size:4;tab-size:4}html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}body{font-family:system-ui,-apple-system,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'}hr{height:0;color:inherit}abbr[title]{text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,pre,samp{font-family:ui-monospace,SFMono-Regular,Consolas,'Liberation Mono',Menlo,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}table{text-indent:0;border-color:inherit}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}::-moz-focus-inner{border-style:none;padding:0}:-moz-focusring{outline:1px dotted ButtonText}:-moz-ui-invalid{box-shadow:none}legend{padding:0}progress{vertical-align:baseline}::-webkit-inner-spin-button,::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}summary{display:list-item}

/* end modern-normalize v1.1.0  */


html {
  font-size: 62.5%;
  height: 100%;
}

:root {
  --maxwidth: 1080px;
  --body-color: #f7f7f7;
  --text-color: #272727;
  --border-color: #ddd;
  --border-color-light: #eee;
  --link-color: rgb(0, 140, 255);
  --link-color-hover: rgb(255, 0, 140);
  --short-gap: 3rem;
  --mid-gap: 4.8rem;
  --code-font: Consolas, Menlo, 'Liberation Mono', Courier, monospace;;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header" "main" "footer";
  color: var(--text-color);
  height: 100%;
  background-color: var(--body-color);
  font-size: 1.8rem;
  line-height: 2;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #000;
}

.header {
  grid-area: header;
  margin: 0 auto;
  width: 100%;
  max-width: var(--maxwidth);
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: 1rem var(--short-gap) 1.5rem var(--short-gap);
}

.header * {
  margin: 0;
}

h1.site-title {
  font-size: 3.2rem;
  padding: 1.4rem 0;
}

.site-title {
  font-size: 2.6rem;
  font-weight: bold;
  padding: 0;
}

.menu-icon {
  display: none;
  font-size: 3rem;
  cursor:pointer;
}

.page-list {
  text-align: right;
}

.page-list a {
  display: inline-block;
  padding-left: 1rem;
}

@media screen and (max-width: 768px) {

  html {
    font-size: 50%;
  }
  .header {
    grid-template-columns: 6fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "site-title menu-icon" "page-list page-list";
  }

  .site-title {
    grid-area: site-title;
  }

  .menu-icon {
    grid-area: menu-icon;
    display: block;
  }

  .page-list {
    padding-top: 1rem;
    grid-area: page-list;
    display: none;
  }

  .page-list a {
    display: block;
    border-top: 1px solid #666;
    padding: 1.5rem;
  }

}
@media screen and (max-width: 480px) {
  html {
    font-size: 45%;
  }
}
/*  main */
main {
  grid-area: main;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  padding:  8.4rem 0;
}
.wrap {
  width: 100%;
  max-width: var(--maxwidth);
  margin: 0 auto;
  padding: 0 var(--short-gap);
}
.wrap h2 {
  font-size: 2rem;
}
article {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 var(--short-gap);
  word-wrap: break-word;
}
article ul, article ol {
  padding-left: 2rem;
}
.title {
  padding: 2.2rem 0;
}

.auther,time,.time {
  font-size: 1.6rem;
}

time, .time {
  font-family: var(--code-font);
}

.contents {
  padding: var(--short-gap) 0;
  align-items: center;
}
.contents a {
  color: blue;
  text-decoration: underline;
}
.contents h2 {
  border-bottom: 3px solid var(--border-color);
}
.contents img {
  display: block;
  margin: 0 auto;
  cursor: zoom-in;
}
.img-zoom {
  position: relative;
  width: 130%;
  left: -15%;
  cursor: zoom-out !important;
}

.dashed {
  border-bottom: 2px dashed #ddd;
}

.search {
  text-align: right;
}

.footer {
  grid-area: footer;
  text-align: center;
  padding: 1rem 0;
  font-size: 1.4rem;
}

/*** index.html ,allpost.html ***/

.latest-posts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 3rem;
  row-gap: 4.8rem;
  padding-bottom: 3rem;
  word-break: break-word;
}

.latest-posts > a:first-of-type {
  grid-column: 1 / span 2;
}
.latest-posts > a:first-of-type h3 {
  font-size: 2.6rem;
}

@media screen and (max-width: 768px) { 
  .latest-posts > a:first-of-type {
    grid-column: 1 / span 1;
  }
}

.latest-posts > a {
  display: grid;
  grid-template-rows: auto 1fr auto auto;
  background-color: #fff;
  border: 1px solid var(--border-color-light);
}

.latest-posts > a > img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 2 / 1;
}

.latest-posts > a > :not(img) {
  padding: 1.6rem 0;
  margin: 0 1.6rem;
}

.latest-posts > a:hover {
  text-decoration: none;
  border-color: var(--link-color-hover);
}

.latest-posts h3 {
  font-weight: normal;
  font-size: 2rem;
  /* line-height: 1.6; */
}

.latest-posts > a > div {
  border-top: 1px solid var(--border-color-light);
    font-size: 1.4rem;
}

.latest-posts > a > span {
  padding-bottom: 0;
  font-size: 1.2rem;
}
.latest-posts > a > span span {
  display: inline-block;
  margin-right: .8rem;
  padding: .4rem .6rem;
  background-color: var(--body-color);
}

.latest-posts time {
  display: block;
  text-align: right;
  font-size: 1.4rem;
}

/* index.html, post ,page */
.goto-allpost {
  width: 10rem;
  border-radius: 2rem;
  border: 2px solid #333;
  margin: 0 auto;
  text-align: center;
  padding: .5rem 0;
}
.goto-allpost a {
  display: block;
}
/*** post ***/
.tags {
  padding: 1rem;
}
.table-of-contents {
  padding: 1rem 0;
}
.comment {
  padding: 1rem 0;
}
.related-post {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 1rem;
  row-gap: 2rem;
  padding-bottom: 1rem;
}
.prev-next {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.prev-next a:nth-child(2){
  text-align: right;
}
/*** allpost.html ***/
.allpost-btns {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
}
.allpost-btns p {
  padding-bottom: 1rem;
}
.allpost-btns p:nth-child(1) {
  font-weight: bold;
  /* text-shadow: 1px 1px 0px #f4f4f4, 2px 2px 0px rgba(0,0,0,0.15); */
}
.allpost-btns p:nth-child(2) {
  padding-left: 2rem;
}
.allpost-btns p:nth-child(2):before {
  padding: .8rem;
}
.allpost-btns p:nth-child(3) {
  text-align: right;
}
.allpost-btns span,.allpost-btns u {
  padding: .5rem .7rem;
  cursor:pointer;
  user-select: none;
  border-radius: 2rem;
  display: inline-block;
  color: #aaa;
}
.allpost-btns u {
  text-decoration: none;
}
.allpost-btns u:hover,.allpost-btns span:hover {
  background-color: #fff;
  color: #333;
}
.allpost-btns span.on,.allpost-btns u.on {
  color: #333;
}
[data-btn="tag-No-Tag"] {
  text-decoration: line-through;
}
.allpost-btns b {
  cursor:pointer;
  display: inline-block;
  font-weight: normal;
  border-radius: 1rem;
  background-color: #eee;
  margin-left: .6rem;
  padding: .3rem .6rem;
  font-size: .8rem;
  border: 1px solid #ddd;
}
.allpost-btns b:hover {
  background-color: #fff;
}
/*** search.html ***/
#search-box {
  text-align: center;
}
#search-box input {
  width: 30rem;
}
/* hide, show */
.hide {
  display: none !important;
}
.show {
  display: block !important;
}

/* font awesome */
.menu-icon::before,
[itemprop="modified"]::before,.auther::before,.tags:before,
.allpost-btns p:nth-child(2)::before {
  font-weight: 900;
  font-family:'Font Awesome 5 Free';
  padding: 0 1rem;
}

.menu-icon::before {content:"\f0c9";}
.auther::before {content:"\f007";}
/* .time::before {content:"\f073";} */
[itemprop="modified"]::before {content: "\f2f1";}
.tags::before,.allpost-btns p:nth-child(2)::before {content:"\f02b";}
.close-btn::before  {content:"\f00d"!important;}