*,::before,::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --text-color: #272727;
    --body-color: #fff;
    --nav-color: #eaeaea;
    --header-color: #f5f5f5;
    --orange: orange;
    --yellow:#feffc8;
    --btnWidth: 5rem;
    --shorter-gap: 1.3rem;
    --short-gap: 2rem;
    --medium-gap: 3.2rem;
    --long-gap: 5.2rem;
    --longer-gap: 8.4rem;
    --code-font: Consolas, Menlo, 'Liberation Mono', Courier, monospace;
    --center-width: 70%;
    --topbar-height: 40px;
    --shadow: 0 0 6px rgba(0, 0, 0, .1);
}
.dark {
    filter: invert(100%) hue-rotate(180deg);
    
    /* mix-blend-mode: difference; */
    /* background-color: var(--text-color);
    color: #e3e3e3;
    --nav-color: hsl(0,0%,10%); */
}
.alert {
    /* padding-top: var(--shorter-gap); */
    border-radius: 1rem;
    line-height: 1.8;
    font-size: 1.2rem;
}
html {
    font-size: 62.5%;
    height: 100%;
}
body {
    background-color: var(--body-color);
    display: grid;
    grid-template-columns: 16rem 26rem 1fr;
    height: 100%;
    font-size: 1.4rem;
    line-height: 1;
    color: var(--text-color);
    /* font-family: system-ui,-apple-system,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'; */
}
small {
    font-size: 1.2rem;
}
textarea,button,input,select {
    padding: 1rem;
    outline: none;
    border: none;
    font-size: 1.4rem;
}
button {
    background-color: transparent;
}
button:hover {
    background-color: var(--text-color);
    color: #fff;
}
textarea {
    resize: none;
    width: 100%;
    font-family: var(--code-font);
}
fieldset {
    border: none;
}
form {
    display: none;
    height: 100%;
}
button,select,label,nav p,[name=tagbtns] i,.side h3 b,#setting b, #allsave p > i, #links p,#images img {
    cursor: pointer;
}
[name=parts] [title] {
    cursor: help;
}
code {
    background-color: var(--header-color);
    padding: .4rem .6rem;
    font-family: var(--code-font);
    border-radius: .6rem;
}
#guide,nav,.panel,[name=tagbtns] {
    user-select: none;
}
.show {
    animation: fadeIn .5s;
    display: block !important;
}
.hide {
    display: none !important;
}
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
.disable {
    pointer-events : none;
    opacity: 0.4;
}
.noexist {
    cursor: not-allowed !important;
    opacity: 0.4;
}
.off {
    opacity: 0.4;
}
#loading {
    position: absolute;
    left : calc(50% - 100px);
    top : calc(50% - 100px);
}
/* opening card */
#guide {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 35rem;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: #fff;
    opacity: .9;
    box-shadow: 0 0 15px #ccc;
    text-align: center;
    padding-bottom: 2rem;
    border: var(--nav-color) solid 1px;
}
#guide p {
    display: grid;
    grid-template-columns: 3rem 1fr;
    align-items: center;
    font-size: 1.7rem;
    padding: 2.5rem;
    background-color: var(--text-color);
    border-bottom: var(--nav-color) solid 1px;
    cursor: move;
    color: #eee;
}
#guide p img {
    filter:invert(100%);
    width: 4.2rem;
}
#guide div {
    padding: 3rem;
    line-height: 1.4;
}
#open-dir {
    background-color: transparent;
    font-size: 2.1rem;
    color: #444;
}
#guide a {
    color: #000;
}
#open-dir:hover,#guide a:hover {
    text-decoration: none;
    color: #000;
}

/** Left menu **/
nav {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    row-gap: var(--short-gap);
    background-color: var(--text-color);
    color: #fff;
}
h1 {
    text-align: center;
    height: var(--topbar-height);
    box-shadow: var(--shadow);
}
h1 img {
    width: 2.4rem;
    padding: 6px 0;
    filter: invert(1);
}
nav button:hover {
    background-color: #444;
}
nav p {
    font-size: 1.1rem;
    text-align: center;
    display: grid;
    grid-template-rows: auto auto;
    color: #999;
    padding: 1em 0;
    align-items: center;
}
nav p::before {
    font-size: 2.4rem;
    padding: 1rem;
}
nav p.on,nav p.on::before {
    color: var(--header-color);
}
nav p:hover {
    color: var(--body-color);
}
#lightness::before, #spellcheck::before {
    font-size: 1.6rem;
}
/** Top bar **/
header {
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: var(--header-color);
    height: 100%;
    row-gap: var(--short-gap);
    overflow: hidden;
}
header > div {
    padding: var(--shorter-gap);
}
header > div:first-of-type {
    box-shadow: var(--shadow);
    height: var(--topbar-height);
    border-bottom: 1px solid var(--nav-color);
}
h2 {
    font-size: 1.6rem;
    color:var(--text-color);
}
#actfile {
    padding-bottom: var(--short-gap);
    word-break: break-all;
}
#save,#preview {
    display: grid;
    grid-template-columns: 2.6rem 1fr;
    align-items: center;
    width: 100%;
    text-align: left;
}
#index {
    color: var(--nav-color);
    font-size: 1.2rem;
    padding: 2rem 2.5rem;
}

/** Contents **/
main {
    overflow: auto;
    height: 100%;
}
/* Post, Page */
.portal {
    box-shadow: var(--shadow);
}
.artlist > fieldset {
    display: grid;
    grid-template-columns: var(--btnWidth) calc(var(--center-width) - 19rem - var(--btnWidth)) 19rem  1fr var(--btnWidth);
    align-items: center;
    border-bottom: 1px solid var(--nav-color);
    height: var(--topbar-height);
}
.artlist > fieldset > input, .artlist > fieldset > label {
    border-right: 1px solid var(--nav-color);
}
.artlist > fieldset > label {
    text-align: center;
    padding-top: 1.3rem;
}
.artlist > fieldset > label > input {
    transform: 120%;
}
.portal button {
    background-color: var(--text-color);
    color: #fff;
}
.artlist > fieldset > * {
    height: calc(var(--topbar-height) - 1px);
}
.artlist u {
    overflow: hidden;
    text-decoration: none;
    padding: 1.4rem 1rem;
}
[name=top] {
    display: grid;
    grid-template-columns: var(--center-width) 1fr var(--btnWidth);
    border-bottom: 1px solid var(--nav-color);
    height: var(--topbar-height);
}
[name=top] > select, [name=top] > span {
    font-size: 1.6rem;
    font-weight: bold;
    border-right: 1px solid var(--nav-color);
}
.bench {
    display: grid;
    grid-template-columns: var(--center-width) 1fr;
    column-gap: var(--shorter-gap);
    grid-template-rows: calc(100vh - 81px);
    margin-top: var(--shorter-gap);
}
.text {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;
}
.monacos {
    border-right: 1px solid var(--nav-color);
}
/* editor panel */
.panel {
    display: grid;
    grid-template-columns: 1fr auto;
}
.panel fieldset {
    padding: 0;
}
.panel * {
    padding: .5rem 1.3rem;
    text-decoration: none;
    font-style: normal;
    display: inline-block;
    vertical-align: bottom;
}
.panel i, .panel u {
    font-weight: normal;
}
fieldset[name=panelbtns] i, fieldset[name=panelbtns] u {
    font-family: var(--code-font);
}
[name=panelbtns] * {
    background-color: var(--nav-color);
    margin: 0 1px 1px 0;
    border-radius: .5rem;
}
[name=panelbtns] *:hover {
    background-color: var(--text-color);
    color: #fff;
}

.side h3 {
    display: grid;
    grid-template-columns: 1fr var(--btnWidth);
    font-size: 1.4rem;
    align-items: center;
}
.side h3 b {
    text-align: center;
    padding: 2rem 0;
}

.side > div {
    border-bottom: 1px solid var(--nav-color);
}

.side > div > fieldset {
    padding-bottom: 1.5rem;
}
.side button {
    color: var(--text-color);
    background-color: transparent;
    padding: 1rem 1rem 0 1rem;
}
.side textarea {
    min-height: 4rem;
    resize: vertical;
}

.side label {
    display: block;
    padding: .4rem 0;
}

.side label > input {
    margin-right: 1rem;
    vertical-align: middle;
}

[name=desc] {
    height: 11rem;
}
[name=thumbnail] {
    height: 4rem;
}
[name=tagbtns] i {
    font-style: normal;
}
[name=tagbtns] i {
    display: inline-block;
    padding: .7rem 1rem 1rem 0;
    color: #aaa;
}
[name=tagbtns] i.on {
    color: var(--text-color);
}

/* thema */
#thema .panel {
    height: var(--topbar-height);
}
#thema .panel > div {
    padding: 0;
    border-bottom: 1px solid var(--nav-color);
    border-right: 1px solid var(--nav-color);
}

#thema [name=paneltab] {
    display: grid;
    grid-template-columns: 7fr  1fr 1fr 1fr;
}
#thema [name=paneltab] span {
    padding-top: 1.3rem;
    border-bottom: 1px solid var(--nav-color);
}
[name=paneltab] button {
    background-color: var(--header-color);
    border-left: 1px solid var(--nav-color);
}
[name=paneltab] button:hover {
    color: var(--text-color);
}
[name=paneltab] button.on {
    border-bottom-color: #fff;
    background-color: #fff;
}
[data-tab="template.html"]::before {content: "<>  ";font-family: var(--code-font);font-weight: bold;}
[data-tab="style.css"]::before {content: "#  ";font-family: var(--code-font);font-weight: bold;}
[data-tab="main.js"]::before {content: "JS  ";font-family: var(--code-font);font-weight: bold;}
#thema .text {
    height: calc(100vh - var(--topbar-height));
}

/* Setting, allsave*/
#setting input, #setting textarea, #setting select {
    border: 1px solid var(--nav-color);
}
#setting > .tab {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto 1fr;
    height: var(--topbar-height);
}
#setting > .tab > b, #setting > .tab > i {
    border-right: 1px solid var(--nav-color);
    padding: 1.3rem var(--short-gap);
    display: inline-block;
    font-weight: normal;
    background-color: var(--header-color);
}
#setting > .tab > span {
    border-bottom: 1px solid var(--nav-color);
    display: inline-block;
}
#setting > .tab > i {
    font-style: normal;
    padding: 1.3rem 1rem;
}
#setting > .tab > b.on {
    background-color: #fff;
}
#setting > div {
    display: none;
    padding: 0 20% 0 var(--long-gap);
}
#setting > div > p {
    display: grid;
    grid-template-columns: 22rem 1fr;
    margin: var(--shorter-gap) 0;
}
#setting > div > p:last-of-type {
    padding-bottom: var(--long-gap);
}
#setting > div > p > span {
    padding-top: 1.2rem;
}
#setting h3 {
    padding: var(--long-gap) 0 var(--medium-gap) 0;
}
#setting h4 {
    padding: 4rem 0 1rem 0;
    font-size: 1.4rem;
}
#setting textarea {
    min-height: 60vh;
    resize: vertical;
    border: 1px solid var(--nav-color);
    padding: 1rem;
}
/* allsave */
#allsave > .tab {
    height: var(--topbar-height);
    border-bottom: 1px solid var(--nav-color);
}
#allsave > div {
    padding: 2rem 20% 0 var(--long-gap);
}
#allsave > div > p {
    display: grid;
    grid-template-columns: 20rem auto 1fr;
    align-items: center;
    padding: 1.4rem 0;
    border-bottom: 1px solid var(--nav-color);
}
#allsave > div > p:first-of-type {
    border-top: 1px solid var(--nav-color);
    margin-top: 2rem;
}
#allsave p > i {
    font-style: normal;
    padding: 0 2rem;
}
#allsave p > span {
    padding: 0 2rem;
}
#allsave p input {
    margin-right: 1.6rem;
    vertical-align: middle;
}
#allsave button {
    display: block;
    margin: 2rem auto;
    padding: 1rem 2rem;
    background-color: var(--text-color);
    color: #fff;
}
#allsave h3 {
    padding-bottom: 1rem;
    margin: 0;
    border: none;
}
.log {
    background-color: var(--header-color);
    padding: 1.2rem 2rem;
}
.log p {
    padding: .4rem 0;
}
#info {
    padding: 8%;
    line-height: 1.6;
}
/** Link, Img Selector **/
#links, #images {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "dirs btn"
                         "box box";
    /* column-gap: 2rem; */
    position: absolute;
    left: 0;
    top: 0;
    width: 42rem;
    height: 100%;
    overflow: hidden;
    background-color: #444;
    color: #ccc;
}
#links > select, #images > select {
    grid-area: dirs;
    background-color: #333;
    color: #fff;
    border: none;
}
#links button, #images button {
    grid-area: btn;
    color: #fff;
    background-color: var(--text-color);
    border: none;
}
#links  > fieldset, #images > fieldset {
    grid-area: box;
    overflow-x: scroll;
}
#links > fieldset > p {
    word-wrap: break-word;
    font-size: 1.2rem;
    padding: 1rem;
}

#images > fieldset > * {
    height: 19rem;
    width: 19rem;
    border-radius: 5px;
    vertical-align: top;
    display: inline-block;
    padding: 1rem;
    margin: .6rem;
    text-align: center;
    /* background-color: rgba(0, 0, 0, 0.1); */
}
#images audio {
    width: 11rem;
    vertical-align: baseline;
    margin-top: 1rem;
}
#images > fieldset span {
    padding: 1rem;
}

#links  > fieldset > p:hover,#images > fieldset > *:hover {
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
}

#view {
    width: 100%;
    height: 100%;
    padding: 1rem;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    left: 0;
    top: 0;
}
#view iframe {
    resize: horizontal;
    width: 100%;
    height: 100%;
    border: 2px solid #000;
    overflow:auto;
    background-color: #fff;
}

#view button {
    width: var(--long-gap);
    height: var(--medium-gap);
    color: #fff;
    background-color: var(--text-color);
    position: absolute;
    right: 0;
    top: 0;
}

/** Font Awesome **/
#open-dir,.exclamation::before,.alert::before,
#index,
nav p::before,
#spellcheck,#lightness,
[name=top] button,.artlist button,.btn-close,
.panel,.side h3 b,.side button,[name=tagbtns] i.on::before,
#setting > .tab > i,
#allseve p > i,
#links button,#images button,
#view button
{
    font-family:'Font Awesome 5 Free';
}
.exclamation::before,.alert::before,
#index,
#save,#preview,#lightness,#spellcheck,
[name=top] button,.artlist button,.btn-close,
.panel,.side button,[name=tagbtns] i.on::before,
#setting > .tab > i,
#allseve p > i, #links button,
#images button,
#view button { 
    font-weight: 900;
}
.alert.yellow::before {content: "\f071";padding-right: 1rem; color:rgb(200, 200, 50);}
.alert.blue::before {content: "\f05a";padding-right: 1rem;color:rgb(50, 200, 200);}
#open-dir::before {content:"\f07c  ";}
#save::before {content:"\f019";font-family:'Font Awesome 5 Free';}
#preview::before, #index::before, #allsave p > i::before {content:"\f06e";font-family:'Font Awesome 5 Free';}
#lightness::before {content:"\f042";}
#spellcheck::before {content:"\f891";}
nav [data-nav=post]::before {content:"\f304";font-weight: 900;}
nav [data-nav=page]::before {content:"\f15c";font-weight: 900;}
nav [data-nav=thema]::before {content:"\f5c3";font-weight: 900;}
nav [data-nav=setting]::before {content:"\f013";font-weight: 900;}
nav [data-nav=allsave]::before {content:"\f019";font-weight: 900;}
[name=top] button::before {content:"\f067";}
.artlist button::before {content:"\f304";}
.btn-close::before,#links button::before,#images button::before, #view button::before {content:"\f00d" !important;}
[title=link]::before {content:"\f0c1";}
[title=img]::before {content:"\f302";}
.arrdown::before {content:"\f078" !important;}
.side h3 b::before {content:"\f077";text-align: center;}
[name=copybtn]::before {content:"\f0c5"}
[name=thumbbtn]::before {content:"\f302";}
[name=tagbtns] i.on::before {content: "\f02b  ";color: var(--text-color);font-size: 1.2rem;}
#setting > .tab > i:first-of-type::before {content: "\f0ac";}
#setting > .tab > i:last-of-type::before {content: "\f7d9";}
.exclamation::before {content: "\f071  ";color: var(--orange);}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background: transparent; 
}
::-webkit-scrollbar-thumb {
    background: var(--nav-color); 
}
::-webkit-scrollbar-thumb:hover {
    background: var(--nav-color); 
}
::placeholder {
    color: #aaa;
    opacity: 1;
}