* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --black: #292929;
    --green: #008066;
    --lightgreen: #a2d8cd;
    --orange: orange;
    --gray: #aaa;
    --silver: #e5e5e5;
    --yellow:#feffc8;
    --btnWidth: 5.7rem;
    --gap: 1.3rem;
}
html {
    font-size: 62.5%;
    height: 100%;
}
body {
    display: grid;
    grid-template-columns: 1fr 5.6fr;
    grid-template-rows: 4rem calc(100vh - 4rem);
    grid-template-areas: "nav header" "nav content";
    height: 100%;
    font-size: 1.4rem;
}
small {
    font-size: 1.2rem;
}
textarea,button,input,select {
    padding: 1.4rem 1.5rem;
    outline: none;
    border: none;
    font-size: 1.4rem;
}
button {
    background-color: transparent;
}
textarea {
    resize: none;
    width: 100%;
    height: 100%;
    font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}
input[type=checkbox] {
    filter:grayscale(100%) contrast(200%);
    transform: scale(1.4);
}
input[type=checkbox]:hover {
    filter:hue-rotate(305deg) grayscale(35%);
}
fieldset {
    border: none;
}
form {
    display:none;
    height: 100%;
}
form button {
    background-color: var(--black);
    color: #fff;
}
form button:hover {
    background-color: var(--green);
}
button,select,label,nav p,#post-panel *,#page-panel *,#post-tagbox i,.box-right h3 b,#links p,#images img {
    cursor:pointer;
}
#parts [title] {
    cursor: help;
}
#guide,nav,#post-panel,#page-panel,#post-tagbox {
    user-select: none;
}
.show {
    animation: fadeIn .5s;
    display: block !important;
}
.hide {
    display: none !important;
}
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
.disable {
    pointer-events : none;
    opacity: 0.4;
}
.off {
    opacity: 0.4;
}
.blur {
    filter: blur(1px);
}
/* opening card */
#guide {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 35rem;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: #fff;
    opacity: .9;
    box-shadow: 0 0 15px #ccc;
    text-align: center;
    padding-bottom: 2rem;
    border: var(--silver) solid 1px;
}
#guide p {
    display: grid;
    grid-template-columns: 3rem 1fr;
    align-items: center;
    padding: 2.5rem;
    background-color: var(--black);
    border-bottom: var(--silver) solid 1px;
    cursor: move;
    color: #eee;
}
#guide div {
    padding: 2rem;
}
#open-dir {
    background-color: transparent;
    font-size: 2.1rem;
    color: #444;
}
#guide a {
    color: #000;
}
#open-dir:hover,#guide a:hover {
    text-decoration: none;
    color: #000;
}
/** Title **/
h1 {
    position: absolute;
    block-size: 40px;
    writing-mode: vertical-rl;
    inline-size: 100vh;
    font-size: 1.6rem;
    background-color: #000;
    color:var(--gray);
    font-weight: normal;
    line-height: 40px;
    padding-top: 10px;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1 img {
    /* filter:invert(100%); */
    mix-blend-mode: exclusion;
    width: 2rem;
    padding-bottom: 1.5rem;
}
/** Left menu **/
nav {
    grid-area: nav;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    row-gap: 5rem;
    padding: 0 0 5rem 40px;
    background-color: var(--black);
    color: #ccc;
    font-size: 1.5rem;
}
#home, #map {
    color: var(--silver);
    font-size: 1.2rem;
    padding: 2rem 2.5rem;
}
#map {
    padding: 2rem;
}
nav button:hover {
    background-color: #444;
    /* padding: 2rem; */
}
nav p {
    display: grid;
    grid-template-columns: 3rem 1fr;
    padding: 1.7rem 2.5rem;
    align-items: center;
    border-left: 7px solid var(--black);
}
nav p.on {
    background-color: #444;
    border-color: var(--green);
    color: #eee;
}
nav p:hover {
    border-color: var(--lightgreen);
    background-color: #555;
    color: #fff;
}
/** Top bar **/
header {
    grid-area: header;
    display: grid;
    grid-template-columns: 20% 10rem 10rem 1fr var(--btnWidth) var(--btnWidth);
    grid-template-rows: auto;
    align-items: center;
    padding: 0 var(--gap) 0 1.5rem;
    background-color: #d5d5d5;
    line-height: 1;
}
h2 {
    font-size: 2.2rem;
    font-weight: normal;
}
header button {
    height: 100%;
    padding: 0;
}
#save,#preview {
    font-weight: bold;
}
#save:hover ,#preview:hover {
    background-color: var(--black);
    color: #fff;
}
#actfile {
    padding-left: 2rem;
}
.dark {
    filter: invert(90%) hue-rotate(180deg);
}
/** Contents **/
main {
    grid-area: content;
    overflow: auto;
    height: 100%;
    background-color: #eee;
    padding: var(--gap);
}
/* Post, Page */
#post-list fieldset, #post-new, #page-list fieldset,#page-new {
    display: grid;
    grid-template-columns: calc(70% - 20rem - 1.4rem) 20rem 1fr var(--btnWidth);
    column-gap: var(--gap);
    align-items: center;
    padding-bottom: var(--gap);
}
#post-list button, #post [type=datetime-local], #post-new button , #page-list button, #page-new button,#post-list u, #page-list u  {
    height: 44px;
}
#post-list u, #page-list u {
    overflow: hidden;
    text-decoration: none;
    font-size: 1.4rem;
    padding: 1rem;
    background-color: #fff;
}
#post [name="years"] {
    width: calc(20%);
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: var(--gap);
}
#post-box,#page-box {
    display: grid;
    grid-template-columns: 70% 1fr;
    column-gap: var(--gap);
    grid-template-rows: 1fr;
}
.box-left {
    overflow: auto;
}
#post-panel,#page-panel {
    background-color: #fff;
    border-bottom: 1px dotted var(--lightgreen);
}
#post-panel *,#page-panel * {
    padding: .5rem 1.5rem;
    text-decoration: none;
    font-style: normal;
    display: inline-block;
    vertical-align: middle;
}
#post-panel i,#post-panel u,#page-panel i,#page-panel u {
    font-weight: normal;
}
#post-panel *:hover, #page-panel *:hover {
    background-color: var(--black);
    color: #fff;
}
.box-right h3 {
    display: grid;
    grid-template-columns: 1fr var(--btnWidth);
    padding-left: 1.4rem;
    font-size: 1.4rem;
    font-weight: normal;
    background-color: #fff;
    align-items: center;
    color: var(--black);
}
.box-right h3 b {
    text-align: center;
    padding: 1.4rem 0;
}
.box-right fieldset {
    margin-bottom: var(--gap);
}
.box-right div {
    padding: 1.8rem;
    background-color: #fff;
    border-top: 1px dashed var(--lightgreen);
}
/* .box-right [name="datetime"] {
    border: 0;
    padding: 0;
} */
.box-right [name="img-open"] {
    color: #000;
    background-color: transparent;
    padding: 0;
}
.box-right textarea {
    min-height: 5rem;
    resize: vertical;
    padding: 0;
}
#parts label {
    display: grid;
    grid-template-columns: 2.5rem 1fr 1.8rem;
    align-items: center;
    padding: .5rem .5rem;
}
#parts label:hover {
    color: var(--green);
}
#post-tagbox i {
    font-style: normal;
}
#post-tagbox i {
    display: inline-block;
    padding: .3rem .5rem;
    color:var(--gray);
}
#post-tagbox i:hover,#post-tagbox i.on:hover {
    color: var(--green);
}
#post-tagbox i.on {
    color: #000;
}
/* Page  */
#page-list fieldset,#page-new {
    grid-template-columns: 70% 1fr var(--btnWidth);
}
/* Template, Style */
#style textarea,#template textarea {
    border: none;
}
/* Setting, allsave*/
.desc {
    padding: 1.2rem 3rem;
    background-color: var(--lightgreen);
}
#setting fieldset, #allsave fieldset {
    padding-bottom: 50vh;
}
#setting h3, #allsave h3 {
    padding: 4rem 0 4rem 3%;
    margin-top: 7rem;
    font-size: 1.6rem;
    /* font-weight: normal; */
    border-top: 1px dashed var(--lightgreen);
}
#setting h3:nth-of-type(1) {
    border: none;
    margin: 0;
}
#setting div {
    display: grid;
    grid-template-columns: 18% 1fr;
    row-gap: 2rem;
    padding-left: 3%;
    padding-right: 30%;
}
#setting textarea {
    min-height: 20vh;
    resize: vertical;
}
#custom {
    display: grid;
    grid-template-columns: 18% 1fr !important;
    padding-left: 15.3% !important;
    row-gap: 1rem !important;
    font-size: 1.4rem;
    padding-top: 1.5rem;
}
#custom p {
    font-family: Consolas, Menlo, 'Liberation Mono', Courier, monospace;
}
/* allsave */
#allsave label {
    display: block;
}
#allsave button {
    display: block;
    margin: 0 auto;
    font-size: 1.8rem;
    padding: 1rem 2rem;
}
#allsave div {
    padding: 1rem 10%;
}
#allsave h3 {
    padding-bottom: 1rem;
    margin: 0;
    border: none;
}
.log {
    background-color: #ddd;
}
#info {
    padding: 8%;
}
/** Link, Img Selector **/
#links,#images {
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    grid-template-rows: auto 1fr;
    grid-template-areas: "flds . btn" "box box box";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 22vh;
    overflow: hidden;
    background-color: rgba(22, 22, 22, 0.7);
}
#links select,#images select {
    grid-area: flds;
    background-color: #444;
    color: #fff;
    border: none;
}
#links button,#images button {
    grid-area: btn;
    color: #fff;
    background-color: #444;
    border: none;
}
#links div,#images div {
    grid-area: box;
    display: flex;
    overflow-y: scroll;
    padding-top: .5rem;
}
#links p {
    color: #eee;
    height: 12vh;
    width: 12vh;
    word-wrap: break-word;
    font-size: 1rem;
    padding: 1rem;
    margin-right: 1rem;
    background-color: rgba(5, 5, 5, .3);
}
#images img {
    height: 8rem;
    width: 8rem;
    padding: .5rem;
    border-radius: 5px;
}
#links p:hover,#images img:hover {
    background-color: #222;
}
/** Font Awesome **/
#open-dir,.exclamation::before,
#home,#map,
nav p,
#spellcheck,#mode,
.btn-new,.btn-edit,.btn-close,
#post-panel,.box-right h3 b,#post-tagbox i.on::before,
#page-panel,
#allseve,
#links button,#images button,[name="img-open"] {
    font-family:'Font Awesome 5 Free';
}
.exclamation::before,
#home,
#mode,#spellcheck,
.btn-new,.btn-edit,.btn-close,
#post-panel,#post-tagbox i.on::before,
#page-panel,
#allseve,#links button,
#images button,[name="img-open"] { 
    font-weight: 900;
}
#open-dir::before {content:"\f07c  ";}
#mode::before {content:"\f042";}
#spellcheck::before {content:"\f891";}
nav [data-nav="post"]::before {content:"\f304";font-weight: 900;}
nav [data-nav="page"]::before {content:"\f15c";font-weight: 900;}
nav [data-nav="style"]::before {content:"\f546";font-weight: 900;}
nav [data-nav="template"]::before {content:"\f126";font-weight: 900;}
nav [data-nav="setting"]::before {content:"\f013";font-weight: 900;}
nav [data-nav="allsave"]::before {content:"\f0c7";font-weight: 900;}
#home::before {content:"\f015";}
#map::before {content:"\f279";}
.btn-new::before {content:"\f067";}
.btn-edit::before {content:"\f304";}
.btn-close::before,#links button::before,#images button::before {content:"\f00d";}
#post-panel::before,#page-panel::before {content:"\f121";padding:1.1rem 1.8rem;vertical-align: middle;border-right: 1px dotted var(--lightgreen);}
.box-left [title="link"]::before, #rated button::before {content:"\f0c1";}
.box-left [title="img"]::before, [name="img-open"]::before {content:"\f302";}
.arrdown::before {content:"\f078" !important;}
.box-right h3 b::before {content:"\f077";text-align: center;font-size: 1.1rem;}
#parts label:nth-of-type(1)::before {content:"\f0ca";font-family:'Font Awesome 5 Free';font-weight: 900;}
#parts label:nth-of-type(2)::before {content:"\f075";font-family:'Font Awesome 5 Free';}
#parts label:nth-of-type(3)::before {content:"\f0c8";font-family:'Font Awesome 5 Free';}
#post-tagbox i.on::before {content: "\f02b  ";color: var(--black);font-size: 1.2rem;}
.exclamation::before {content: "\f071  ";color: var(--orange);}
/* ::-webkit-scrollbar {
    width: 16px;
}
::-webkit-scrollbar-track {
    background: transparent; 
}
::-webkit-scrollbar-thumb {
    background: var(--silver); 
}
::-webkit-scrollbar-thumb:hover {
    background: var(--gray); 
} */
/* ::placeholder {
    color: var(--gray);
    opacity: 1;
} */
/* ::-ms-input-placeholder {
    color: var(--gray);
} */