*,::before,::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --text-color: #272727;
    --body-color: #fff;
    --nav-color: #eaeaea;
    --header-color: #f5f5f5;
    --thema-color: rgb(255, 174, 0);
    --green: #008022;
    --lightgreen: #01CC37;
    --orange: orange;
    --yellow:#feffc8;
    --btnWidth: 5rem;
    --gap: 2rem;
    --innergap: 1.6rem;
    --code-font: Consolas, Menlo, 'Liberation Mono', Courier, monospace;
    --center-width: 70%;
    --topbar-height: 40px;
    --shadow: 0 0 6px rgba(0, 0, 0, .1);
}
.dark {
    filter: invert(100%) hue-rotate(180deg);
    
    /* mix-blend-mode: difference; */
    /* background-color: var(--text-color);
    color: #e3e3e3;
    --nav-color: hsl(0,0%,10%); */
}
html {
    font-size: 62.5%;
    height: 100%;
}
body {
    background-color: var(--body-color);
    display: grid;
    grid-template-columns: minmax(12rem,10%) minmax(12rem,13%) 1fr;
    height: 100%;
    font-size: 1.4rem;
    line-height: 1;
    color: var(--text-color);
    /* font-family: system-ui,-apple-system,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'; */
}
small {
    font-size: 1.2rem;
}
textarea,button,input,select {
    padding: 1rem;
    outline: none;
    border: none;
    font-size: 1.4rem;
}
button {
    background-color: transparent;
}
button:hover {
    background-color: var(--text-color);
    color: #fff;
}
textarea {
    resize: none;
    width: 100%;
    /* border: 1px solid var(--nav-color); */
    font-family: var(--code-font);
}
input[type=checkbox] {
    filter:grayscale(100%) contrast(200%);
    transform: scale(1.1);
}
fieldset {
    border: none;
}
form {
    display: none;
    height: 100%;
}

button,select,label,nav p,[name=tagbtns] i,.side h3 b,#links p,#images img {
    cursor: pointer;
}
[name=parts] [title], #setting span {
    cursor: help;
}
#guide,nav,.panel,[name=tagbtns] {
    user-select: none;
}
.show {
    animation: fadeIn .5s;
    display: block !important;
}
.hide {
    display: none !important;
}
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
.disable {
    pointer-events : none;
    opacity: 0.4;
}
.noexist {
    cursor: not-allowed !important;
    opacity: 0.4;
}
.off {
    opacity: 0.4;
}
#loading {
    position: absolute;
    left : calc(50% - 100px);
    top : calc(50% - 100px);
}
/* opening card */
#guide {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 35rem;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: #fff;
    opacity: .9;
    box-shadow: 0 0 15px #ccc;
    text-align: center;
    padding-bottom: 2rem;
    border: var(--nav-color) solid 1px;
}
#guide p {
    display: grid;
    grid-template-columns: 3rem 1fr;
    align-items: center;
    font-size: 1.7rem;
    padding: 2.5rem;
    background-color: var(--text-color);
    border-bottom: var(--nav-color) solid 1px;
    cursor: move;
    color: #eee;
}
#guide p img {
    filter:invert(100%);
    width: 4.2rem;
}
#guide div {
    padding: 3rem;
    line-height: 1.4;
}
#open-dir {
    background-color: transparent;
    font-size: 2.1rem;
    color: #444;
}
#guide a {
    color: #000;
}
#open-dir:hover,#guide a:hover {
    text-decoration: none;
    color: #000;
}

/** Left menu **/
nav {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    row-gap: var(--gap);
    background-color: var(--nav-color);
}
h1 {
    text-align: center;
    height: var(--topbar-height);
    box-shadow: var(--shadow);
}
h1 img {
    width: 2.4rem;
    padding: 6px 0;
}
nav button:hover {
    background-color: #444;
}
nav p {
    font-size: 1.1rem;
    text-align: center;
    display: grid;
    grid-template-rows: auto auto;
    color: #999;
    padding: 1em 0;
    align-items: center;
}
nav p::before {
    font-size: 2.4rem;
    padding: 1rem;
}
nav p.on,nav p.on::before {
    color: var(--text-color);
}
nav p:hover {
    color: var(--text-color);
}
#lightness::before, #spellcheck::before {
    font-size: 1.6rem;
}
/** Top bar **/
header {
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: var(--header-color);
    height: 100%;
    row-gap: var(--gap);
    overflow: hidden;
}
h2 {
    font-size: 1.8rem;
    color:var(--text-color);
    padding: 1.2rem var(--innergap);
    height: var(--topbar-height);
    border-bottom: 1px solid var(--nav-color);
    box-shadow: var(--shadow);
}
#actfile {
    padding-bottom: var(--gap);
    word-break: break-all;
}
#actfile::before {
    content: 'file: ';
    font-family:initial;
}
#save,#preview {
    display: grid;
    grid-template-columns: 2.6rem 1fr;
    align-items: center;
    padding: 1rem;
    width: 100%;
    text-align: left;
}
#index, #postfilter {
    color: var(--nav-color);
    font-size: 1.2rem;
    padding: 2rem 2.5rem;
}
#postfilter {
    padding: 2rem;
}
/** Contents **/
main {
    overflow: auto;
    height: 100%;
}
.monacos {
    /* border: 1px solid var(--nav-color); */
    /* border-top: 0;
    border-right: 0; */
}
/* Post, Page */
.portal {
    box-shadow: var(--shadow);
}
.portal fieldset {
    display: grid;
    grid-template-columns: calc(var(--center-width) - 20rem) 20rem 1fr var(--btnWidth);
    align-items: center;
    border-bottom: 1px solid var(--nav-color);
    height: var(--topbar-height);
}
.portal fieldset > input {
    border-right: 1px solid var(--nav-color);
}
.portal button {
    background-color: var(--text-color);
    color: #fff;
}
.portal input,.artlist u,.portal button {
    height: calc(var(--topbar-height) - 1px);
}
[name="name"] {
    font-family: var(--code-font);
}
.artlist u {
    overflow: hidden;
    text-decoration: none;
    font-family: var(--code-font);
    padding: 1.4rem 1rem;
}
#post [name=dirs] {
    font-size: 1.6rem;
    font-weight: bold;
    border-right: 1px solid var(--nav-color);
    border-bottom: 1px solid var(--nav-color);
    width: calc(100% - var(--btnWidth));
}
.bench {
    display: grid;
    grid-template-columns: var(--center-width) 1fr;
    column-gap: var(--innergap);
    grid-template-rows: calc(100vh - 81px);
    margin-top: var(--innergap);
}
.text {
    display: grid;
    grid-template-rows: auto 1fr;
    border-right: 1px solid var(--nav-color);
    height: 100%;
}
/* editor panel */
.panel {
    display: grid;
    grid-template-columns: 1fr auto;
}
.panel fieldset {
    padding: 0;
}
.panel * {
    padding: .5rem 1.3rem;
    text-decoration: none;
    font-style: normal;
    display: inline-block;
    vertical-align: middle;
}
.panel i, .panel u {
    font-weight: normal;
}
fieldset[name=panelbtns] {
    padding: 0 var(--innergap);
    background-color: #fff;
    border-bottom: 1px solid var(--nav-color);
}
fieldset[name=panelbtns] i,fieldset[name=panelbtns] u {
    font-family: var(--code-font);
}
[name=panelbtns] * {
    background-color: var(--nav-color);
    margin-right: 1px;
    border-radius: .5rem;
}
[name=panelbtns] *:hover {
    background-color: var(--text-color);
    color: #fff;
}

[name=paneltab] button {
    border-left: 1px solid var(--nav-color);
    background-color: var(--header-color);
    font-family: initial;
    font-size: 1.3rem;
    margin: 0;
    border-top: 1px solid var(--nav-color);
}
[name=paneltab] button:hover {
    color: var(--text-color);
}
[name=paneltab] button.on {
    border-bottom-color: #fff;
    background-color: #fff;
}
.side h3 {
    display: grid;
    grid-template-columns: 1fr var(--btnWidth);
    font-size: 1.4rem;
    align-items: center;
}
.side h3 b {
    text-align: center;
    padding: 2rem 0;
}
.side fieldset {
    padding-bottom: 1.5rem;
}
.side > div {
    border-bottom: 1px solid var(--nav-color);
}
.side button {
    color: var(--text-color);
    background-color: transparent;
    padding: 1rem 1rem 0 1rem;
}
.side textarea {
    min-height: 4rem;
    resize: vertical;
}
[name=desc] {
    height: 11rem;
}
[name=thumbnail] {
    height: 4rem;
}
[name=parts] label {
    display: grid;
    grid-template-columns: 1fr 3.2rem;
    align-items: center;
    padding: .7rem 0;
}
[name=parts] label:hover {
    color: var(--green);
}
[name=tagbtns] i {
    font-style: normal;
}
[name=tagbtns] i {
    display: inline-block;
    padding: .7rem 1rem 1rem 0;
    color: #aaa;
}
[name=tagbtns] i:hover,[name=tagbtns] i.on:hover {
    color: var(--green);
}
[name=tagbtns] i.on {
    color: var(--text-color);
}
/* Page  */
#page .artlist fieldset,#page [name=new] {
    grid-template-columns: var(--center-width) 1fr var(--btnWidth);
}
/* bases */
#bases .panel {
    height: var(--topbar-height);
    padding-top: .8rem;
    background-color: #fff;
}
#bases .panel > div {
    padding: 0;
    border-bottom: 1px solid var(--nav-color);
}
#bases button {
    vertical-align: bottom;
}
[data-tab="template.html"]::before {content: "<>  ";font-family: var(--code-font);font-weight: bold;}
[data-tab="style.css"]::before {content: "#  ";font-family: var(--code-font);font-weight: bold;}
[data-tab="main.js"]::before {content: "JS  ";font-family: var(--code-font);font-weight: bold;}
#bases .text {
    height: calc(100vh - var(--topbar-height));
}

/* Setting, allsave*/
.desc {
    padding: 1.2rem 3rem;
    background-color: var(--lightgreen);
}
#setting input, #setting textarea, #setting select{
    border: 1px solid var(--nav-color);
}
#setting fieldset, #allsave fieldset {
    padding-bottom: 50vh;
}
#setting h3, #allsave h3 {
    padding: 4rem 0 4rem 3%;
    margin-top: 7rem;
    font-size: 1.8rem;
    /* font-weight: normal; */
    border-top: 1px dashed var(--nav-color);
}
#setting h3:nth-of-type(1) {
    border: none;
    margin: 0;
}
#setting div {
    display: grid;
    grid-template-columns: 1fr 3fr;
    row-gap: 2rem;
    padding-left: 3%;
    padding-right: 20%;
    align-items: center;
}
#setting textarea {
    min-height: 20vh;
    resize: vertical;
    border: 1px solid var(--nav-color);
    padding: 1rem;
}
#custom {
    display: grid;
    grid-template-columns: 18% 1fr !important;
    padding-left: 15.3% !important;
    row-gap: 1rem !important;
    padding-top: 1.5rem;
}
#custom p {
    font-family: var(--code-font)
}
/* allsave */
#allsave label {
    display: block;
}
#allsave button {
    display: block;
    margin: 0 auto;
    font-size: 1.8rem;
    padding: 1rem 2rem;
}
#allsave div {
    padding: 1rem 10%;
}
#allsave h3 {
    padding-bottom: 1rem;
    margin: 0;
    border: none;
}
.log {
    background-color: #ddd;
}
#info {
    padding: 8%;
}
/** Link, Img Selector **/
#links,#images {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "dirs btn"
                         "box box";
    /* column-gap: 2rem; */
    position: absolute;
    left: 0;
    top: 0;
    width: 23%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(22, 22, 22, 0.7);
}
#links select,#images select {
    grid-area: dirs;
    background-color: #333;
    color: #fff;
    border: none;
}
#links button,#images button {
    grid-area: btn;
    color: #fff;
    background-color: #444;
    border: none;
}
#links div,#images div {
    grid-area: box;
    overflow-x: scroll;
}
#links p {
    color: #eee;
    word-wrap: break-word;
    font-size: 1.2rem;
    padding: 1rem;
    background-color: rgba(5, 5, 5, .3);
}

#images img {
    height: 13rem;
    width: 13rem;
    padding: 1rem;
    border-radius: 5px;
}
#links p:hover,#images img:hover {
    background-color: rgba(255, 255, 0, 0.5);
}
/** Font Awesome **/
#open-dir,.exclamation::before,
#index,#postfilter,
nav p::before,
#spellcheck,#lightness,
.btn-new,.artlist button,.btn-close,
.panel,.side h3 b,.side button,[name=tagbtns] i.on::before,
#allseve,
#links button,#images button {
    font-family:'Font Awesome 5 Free';
}
.exclamation::before,
#index,#postfilter,
#save,#preview,#lightness,#spellcheck,
.btn-new,.artlist button,.btn-close,
.panel,.side button,[name=tagbtns] i.on::before,
#allseve,#links button,
#images button { 
    font-weight: 900;
}
#open-dir::before {content:"\f07c  ";}
#save::before {content:"\f019";font-family:'Font Awesome 5 Free';}
#preview::before,#index::before,#postfilter::before {content:"\f06e";font-family:'Font Awesome 5 Free';}
#lightness::before {content:"\f042";}
#spellcheck::before {content:"\f891";}
nav [data-nav=post]::before {content:"\f304";font-weight: 900;}
nav [data-nav=page]::before {content:"\f15c";font-weight: 900;}
nav [data-nav=bases]::before {content:"\f5c3";font-weight: 900;}
nav [data-nav=setting]::before {content:"\f013";font-weight: 900;}
nav [data-nav=allsave]::before {content:"\f019";font-weight: 900;}
[name=new] button::before {content:"\f067";}
.artlist button::before {content:"\f304";}
.btn-close::before,#links button::before,#images button::before {content:"\f00d" !important;}
[title=link]::before {content:"\f0c1";}
[title=img]::before {content:"\f302";}
.arrdown::before {content:"\f078" !important;}
.side h3 b::before {content:"\f077";text-align: center;font-size: 1.1rem;}
[name=copybtn]::before {content:"\f0c5"}
[name=thumbbtn]::before {content:"\f302";}
/* [name=parts] label:nth-of-type(1)::before {content:"\f0ca";font-family:'Font Awesome 5 Free';font-weight: 900;}
[name=parts] label:nth-of-type(2)::before {content:"\f075";font-family:'Font Awesome 5 Free';}
[name=parts] label:nth-of-type(3)::before {content:"\f0c8";font-family:'Font Awesome 5 Free';} */
[name=tagbtns] i.on::before {content: "\f02b  ";color: var(--text-color);font-size: 1.2rem;}

.exclamation::before {content: "\f071  ";color: var(--orange);}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background: transparent; 
}
::-webkit-scrollbar-thumb {
    background: var(--nav-color); 
}
::-webkit-scrollbar-thumb:hover {
    background: var(--nav-color); 
}
::placeholder {
    color: #aaa;
    opacity: 1;
}
/* ::-ms-input-placeholder {
    color: var(--nav--color);
} */