* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    height: 100%;
}
body {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 4rem calc(100vh - 4rem);
    grid-template-areas: "nav header" "nav content";
    height: 100%;
    font-size: 1.4rem;
}
small {
    font-size: 1.2rem;
}
textarea,button,input,select {
    padding: 1.5rem;
    outline: none;
    border: none;
    font-size: 1.4rem;
}
button {
    background-color: transparent;
}
textarea {
    resize: none;
    width: 100%;
    height: 100%;
    font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}
fieldset {
    border: none;
}
form {
    display:none;
    height: 100%;
}
form button {
    background-color: #333;
    color: #fff;
}
form button:hover {
    opacity: .7;
}
button,select,label,nav p,#post-panel *,#page-panel *,#post-tagbox i,.box-right h3,#links p,#images img {
    cursor:pointer;
}
#parts [title] {
    cursor: help;
}
nav,#post-panel,#page-panel,.box-right h3,#post-tagbox {
    user-select: none;
}
.show {
    animation: fadeIn .5s;
    display: block !important;
}
.hide {
    display: none !important;
}
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
.disable {
    pointer-events : none;
    opacity: 0.4;
}
.off {
    opacity: 0.4;
}
/* select folder */
#guide {
    position: absolute;
    top: 45%;
    left: 40%;
    width: 20vw;
    height: 15vh;
    background-color: #000;
    opacity: .8;
    color: #ddd;
    box-shadow: 0 0 40px #aaa;
    display: grid;
    text-align: center;
    align-items: center;
}
#open-dir {
    background-color: transparent;
    font-size: 2rem;
    color: #ccc;
}
#guide a {
    color: #ccc;
}
#open-dir:hover,#guide a:hover {
    color: #fff;
    text-decoration: none;
}
/** Title **/
h1 {
    position: absolute;
    block-size: 36px;
    writing-mode: vertical-rl;
    inline-size: 100vh;
    font-size: 1.6rem;
    background-color: #000;
    color:#aaa;
    font-weight: normal;
    line-height: 36px;
    padding-top: 10px;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1 img {
    filter:invert(100%);
    mix-blend-mode: exclusion;
    width: 2rem;
    padding-bottom: 1.5rem;
}
/** Left menu **/
nav {
    grid-area: nav;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    row-gap: 3rem;
    padding: 0 0 4rem 36px;
    background-color: #333;
    color: #ccc;
}
#home, #map {
    color: #ddd;
    border-right: 1px solid #444;
    font-size: 1.2rem;
    padding: 1.2rem 2rem;
}
#map {
    padding: 1.2rem;
}
nav p {
    display: grid;
    grid-template-columns: 3rem 1fr;
    padding: 1.5rem 3rem;
    align-items: center;
}
nav p.on {
    background-color: #ccc;
    color: #333;
}
nav p:hover {
    background-color: #eee;
    color: #333;
}
nav div:nth-of-type(1) {
    border-bottom: 1px solid #444;
}
/** Top bar **/
header {
    grid-area: header;
    display: grid;
    grid-template-columns: minmax(10rem,22rem) 9rem 9rem 1fr 5rem 5rem;
    grid-template-rows: auto;
    align-items: center;
    padding-left: 1.5rem;
    background-color: #ddd;
}
h2 {
    font-size: 2rem;
    font-weight: normal;
    line-height: 1;
}
header button {
    padding: 1.2rem;
}
#save,#preview {
    font-weight: bold;
    border: none;
}
#actfile {
    padding-left: 2rem;
}
.dark {
    filter: invert(90%) hue-rotate(180deg);
}
/** Contents **/
main {
    grid-area: content;
    overflow: auto;
    height: 100%;
    background-color: #fff;
}
/* Post, Page */
#post-list fieldset, #post-new, #page-list fieldset,#page-new {
    display: grid;
    grid-template-columns: calc(70% - 20rem) 20rem 1fr 5rem;
    align-items: center;
    align-content: center;
	justify-content: center;
    border-bottom: 1px solid #ddd;
}
#post-list input, #post-new input , #page-list input, #page-new input {
    border-right: 1px solid #ddd;
}
#post [type="datetime-local"] {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
}
#post-list u, #page-list u {
    overflow: hidden;
    text-decoration: none;
    font-size: 1.4rem;
    padding: 1rem;
}
#post [name="years"] {
    width: calc(100% - 5rem);
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    font-size: 1.6rem;
    font-weight: bold;
}
#post-box,#page-box {
    display: grid;
    grid-template-columns: 70% 1fr;
    grid-template-rows: 1fr;
}
.box-left {
    overflow: auto;
    border-right: 1px solid #ddd;
}
#post-panel,#page-panel {
    border-bottom: 1px solid #ddd;
}
#post-panel *,#page-panel * {
    padding: .5rem 1.5rem;
    text-decoration: none;
    font-style: normal;
    display: inline-block;
    vertical-align: middle;
}
#post-panel i,#post-panel u,#page-panel i,#page-panel u {
    font-weight: normal;
}
#post-panel *:hover, #page-panel *:hover {
    background-color: #333;
    color: #eee;
}
.box-right h3 {
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: normal;
    background-color: #eee;
}
.box-right div {
    /* border-top: 1px solid #ddd; */
    padding: 1.5rem;
}
.box-right [name="datetime"] {
    border: 0;
    padding: 0;
}
.box-right [name="img-open"] {
    color: #000;
    background-color: transparent;
    padding: 0;
}
.box-right textarea {
    border: none;
    padding: 0;
    min-height: 5rem;
    resize: vertical;
    font-size: 1.3rem;
}
#parts input, #config input {
    vertical-align: middle;
    margin-right: .7rem;
    filter: grayscale(100%);
}
#parts label {
    display: block;
    padding: .2rem 0 .2rem .5rem;
}
#post-tagbox i {
    display: inline-block;
    padding: .3rem .5rem;
    color:#aaa;
}
#post-tagbox i.on {
    color:#000;
}
/* Page  */
#page-list fieldset,#page-new {
    grid-template-columns: 70% 1fr 5rem;
}
/* Template, Style */
#style textarea,#template textarea {
    border: none;
}
/* Config, renews*/
#config, #renews {
    width: 80%;
}
#config input ,#config textarea,#config select {
    border: 1px solid #ddd;
    margin: 0;
}
.desc {
    padding: 1.2rem 3rem;
    text-align: center;
    background-color: #f5f8eb;
    color: #666235;
}
#config fieldset, #renews fieldset {
    padding-bottom: 50vh;
}
#config h3, #renews h3 {
    padding: 3rem;
    margin-top: 7rem;
    font-size: 1.5rem;
    border-top: 1px dashed #ddd;
}
#config h3:nth-of-type(1) {
    border: none;
    margin: 0;
}
#config div {
    display: grid;
    grid-template-columns: 20% 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
    padding-left: 10%;
}
#config textarea {
    min-height: 20vh;
    resize: vertical;
}
#custom {
    display: grid;
    grid-template-columns: 18% 1fr !important;
    padding-left: 25% !important;
    row-gap: 1rem !important;
    font-size: 1.4rem;
    padding-top: 1.5rem;
}
#custom p {
    font-family: Consolas, Menlo, 'Liberation Mono', Courier, monospace;
}
/* renews */
#renews label {
    display: block;
}
#renews input {
    vertical-align: middle;
    margin-right: .5rem;
    filter: grayscale(100%);
}
#renews button {
    display: block;
    margin: 0 auto;
    font-size: 1.8rem;
    padding: 1rem 2rem;
}
#renews div {
    padding: 1rem 10%;
}
#renews h3 {
    padding-bottom: 1rem;
    margin: 0;
    border: none;
}
.log {
    background-color: #eee;
}
/** Link, Img Selector **/
#links,#images {
    display: grid;
    grid-template-columns: 9rem 1fr 9rem;
    grid-template-rows: auto 1fr;
    grid-template-areas: "flds . btn" "box box box";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 12rem;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .6);
}
#links select,#images select {
    grid-area: flds;
    background-color: rgba(5, 5, 5, .5);
    color: #fff;
    border: none;
}
#links button,#images button {
    grid-area: btn;
    color: #fff;
    background-color: transparent;
    border: none;
}
#links div,#images div {
    grid-area: box;
    display: flex;
    overflow-y: scroll;
    padding-top: .5rem;
}
#links p {
    color: #eee;
    height: 8rem;
    width: 8rem;
    word-wrap: break-word;
    font-size: .7rem;
    padding: .5rem;
    margin-right: 1rem;
    background-color: rgba(5, 5, 5, .3);
}
#images img {
    height: 8rem;
    width: 8rem;
    padding: .5rem;
    border-radius: 5px;
}
#links p:hover,#images img:hover {
    background-color: rgba(255, 255, 255, .2);
}
/** Font Awesome **/
#open-dir,#spellcheck,nav p,#home,#map,#mode,.btn-new,.btn-edit,.btn-close,#post-panel,#page-panel,#allseve,#links button,#images button,[name="img-open"] {
    font-family:'Font Awesome 5 Free';
}
nav p,#home,#mode,#spellcheck,.btn-new,.btn-edit,.btn-close,#post-panel,#page-panel,#allseve,#links button,#images button,[name="img-open"] { 
    font-weight: 900;
}
#open-dir:before {content:"\f07c  ";}
#mode:before {content:"\f042";}
#spellcheck::before {content:"\f891";}
nav [data-nav="post"]:before {content:"\f304";}
nav [data-nav="page"]:before {content:"\f15c";}
nav [data-nav="style"]:before {content:"\f546";}
nav [data-nav="template"]:before {content:"\f126";}
nav [data-nav="config"]:before {content:"\f013";}
nav [data-nav="renews"]:before {content:"\f0c7";}
#home:before {content:"\f015";}
#map:before {content:"\f279";}
.btn-new:before {content:"\f067";}
.btn-edit:before {content:"\f304";}
.btn-close:before,#links button:before,#images button:before {content:"\f00d";}
#post-panel:before,#page-panel:before {content:"\f121";padding:1.1rem 2rem;vertical-align: middle;border-right: 1px solid #ddd;}
.box-left [title="link"]:before, #rated button:before {content:"\f0c1";}
.box-left [title="img"]:before, [name="img-open"]:before {content:"\f302";}
.box-right h3:hover::after {content:" \f078";font-family:'Font Awesome 5 Free';font-weight: 900;font-size: 1.2rem;line-height: 1.2rem;}
/* ::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f5f5f5; 
}
::-webkit-scrollbar-thumb {
    background: #aaa; 
}
::-webkit-scrollbar-thumb:hover {
    background: #333; 
} */
/* ::placeholder {
    color: #aaa;
    opacity: 1;
} */
/* ::-ms-input-placeholder {
    color: #aaa;
} */